{% extends 'web/partials/base.html' %}
{% block content %}
{% load static %}


<!-- <link rel="stylesheet" href="{% static 'web/about.css' %}"> -->
<link rel="stylesheet" href="{% static 'web/filters.css' %}">
<link rel="stylesheet" href="{% static 'web/card.css' %}">
<link rel="stylesheet" href="{% static 'web/index.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">

<style>
    .card2{
        min-height: 384px !important;
    }
    @media only screen and (max-width: 425px) {
        #clients .client-logo {
            padding: 25px;
        }
    }

    ul.list_4 {
        list-style: none;
        margin: 0 0 20px;
        padding: 0;
    }

    ul.list_4 li {
        width: 99%;
        font-size: 12px;
        padding: 0px;
        margin-bottom: 0;
        display: block;
        /* padding-left: 24px; */
        /* margin-right: 15px; */
        position: relative;
    }

    .section-header h3 {
        font-size: 32px;
        color: #050505;
        text-align: center;
        font-weight: 5500;
        position: relative;
        font-family: var(--font-2);
    }

    @media only screen and (max-width: 767px) {
        .about-title {
            font-size: 32px;
            margin-bottom: 3rem;
            margin-top: 120px;
        }

        .section-header h3 {
            font-size: 20px;
        }
    }

    #clients {
        padding: 60px 0;

    }

    #clients .clients-wrap {
        border-top: 0px solid #5f1212;
        border-left: 0px solid #5f1212;
        margin-bottom: 30px;
    }

    #clients .client-logo {
        padding: 25px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        border-right: 0px solid #5f1212;
        border-bottom: 0px solid #5f1212;
        overflow: hidden;
        background: #fff;
        height: 160px;
    }

    #clients img {
        transition: all 0.4s ease-in-out;
    }

    @media only screen and (min-width: 1500) and (max-width:2000) {
        .about-right .about-padding-right {
            padding-right: 7rem;
        }
    }

    @media screen and (max-width:320) and (max-width:990) {
        .feature-box .feature-icon {
            margin-top: 44px;
        }
    }

    @media screen and (max-width:768) and (max-width:1440) {
        img .pimage {
            margin-top: -39px;
        }
    }
    @media only screen and (max-width: 767px){
        .bsnav-mobile .navbar-nav .nav-item .nav-link {
            padding-top: 0rem;
        }
    }
</style>


<main class="main">

    <!-- Start Hero   
============================================= -->
    <div class="about-area" style="padding: 10rem 0rem;">
        <div class="about-wpr grid-2">
            <div class="about-left">
                <div class="about-img wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".4s">
                    <img src="{% static 'web/img/logo/2.png' %}" alt="thumb">
                </div>
            </div>
            <div class="about-right about-padding-right" style="">
                <h2 style="color: black;" class="filterh6"> Delivering The Ultimate Experience To The End User</h2>
                <p style="color: rgb(51, 48, 48);">
                    <b>Our mission</b> is to Provide the market with innovative, flexible and smart software solutions
                    which
                    match the international standards for a greater convenience, safety and security Established with
                    the specific aim of empowering the IT industry in the region through distribution &
                    development of powerful, cost effective and scalable IT solutions..
                </p>
                <p style="color: rgb(51, 48, 48);"><b>We are </b> the region's fastest growing software development
                    house, encompassing some of the best
                    programmers in the industry. </p>
                <p style="color: rgb(51, 48, 48);"> <b>We</b> enjoy a vast Clientele including multiple ERP and
                    inventory solutions for various
                    sectors like Travel & Tourism, BPOs, Retail & Manufacturing, Medical, Aggro Industries,
                    Courier, Rental, Online E-COM and Learning Platforms etc,.</p>
                </p>

                <div class="hro-btn wow fadeInUp " data-wow-duration="1s" data-wow-delay=".3s"
                    style="align-items: center;">
                    <a href="{% url 'web:about' %}" class="theme-btn text-center">
                        Explore More <i class="icofont-long-arrow-right"></i>
                    </a>
                    <!-- <button type="button" class="btn btn-lg" style="margin-top:15px;background-color: #b71919;color: white;" data-bs-toggle="modal" data-bs-target="#video" data-bs-whatever="@mdo">Request Demo</button> -->
                    <div class="how-we-work">
                        <a href="https://www.youtube.com/watch?v=nXyVYuK9FTk" target="_blank">
                            <i class="fas fa-play"></i>
                            <span class="how-txt">How we work</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- End Hero -->


    <!-- -------------------------------------------------------------- -->
    <!-- ----------------------------------------- -->

    <!-- Start Products
============================================= -->
    <div class="feature-area" style="margin-top: -5rem">
        <div class="container" style="margin-top: 10px;">
            <!-- <h6 class="text-center filterh6">OUR FLAGSHIP PRODUCTS</h6> -->
            <div class="section-header">
                <h3 class="h3filter">Our FlagShip Products</h3>
            </div>
            <div class="feature-wpr grid-3" style="margin-top: 50px;">

                {% for p in product_details %}
                <div class="feature-box wow fadeInUp vertical" data-wow-duration="1s" data-wow-delay=".2s">

                    <div class="feature-info ">
                        <a href="{% url 'web:productdetails' p.id %}" target="">
                            <!-- <h5 class="text-center">{{p.product_name}}</h5> -->
                            <ul style="margin: 0px 0 0;" class="test">
                                <li>
                                    <a href="{% url 'web:productdetails' p.id %}" target="">
                                        <div class="feature-icon">
                                            <img src="{{p.product_logo.url}}" alt="thumb" style="" class="pimage">
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <p class="mb-0">
                                        {{p.product_fullname}}
                                    </p>
                                </li>
                            </ul>
                        </a>
                        <div class="onflap-apps-category ">
                            <ul class="list_4" style="margin-top: 20px;">
                                <li>
                                    {% for feature in p.product_features.all %}
                                    <table >
                                        <tr>
                                            <td>
                                                <img src="{% static 'web/Tick Mark-01.png' %}" alt="" width="20px">
                                            </td>&nbsp;
                                            <td class="text-start">{{feature.features}}</td>
                                        </tr>
                                    </table>
                                    {% endfor %}
                                </li>
                                    
                                    <!-- {{p.product_features|safe}} -->
                                    <!-- {% for feature in p.product_features.all %}
                                    <li class="text-center justify-content">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-check" viewBox="0 0 16 16">
                                        <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                                        </svg>
                                        {{feature.features}}
                                    </li>
                                    {% endfor %} -->
                            </ul>
                        </div>

                        <button type="button" class="btn btn-lg"
                            style="margin-top:15px;background-color: #b71919;color: white;" data-bs-toggle="modal"
                            data-bs-target="#exampleModal{{p.id}}" data-bs-whatever="@mdo">Request Demo
                        </button>

                        <style>
                            .w-100{
                                color: teal;
                                font-size: 26px;
                            }
                            .close{
                                background-color: white;
                                border: none;
                            }
                            .modal-footer{
                                background-color: teal;
                            }
                            .md-form label{
                                color: #323338;
                                font-size: 14px;
                            }
                            .md-form i{
                                color: #383838;
                            }
                        </style>

                        <!-- Modal -->

                        <div class="modal fade" id="exampleModal{{p.id}}" tabindex="-1" role="dialog"
                            aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header text-center">
                                        <h4 class="modal-title w-100 font-weight-bold">Write to us</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <form method="POST" action="{% url 'web:productenquiry' p.id %}">
                                        {% csrf_token %}
                                        <div class="modal-body mx-3">
                                            <div class="md-form mb-5">
                                                <i class="fas fa-user prefix grey-text"></i>
                                                <label data-error="wrong" data-success="right" for="name">Your
                                                    name <span class="text-danger">*</span> </label>
                                                <input type="text" id="form34" name="name" class="form-control validate">
                                            </div>

                                            <div class="md-form mb-5">
                                                <i class="fas fa-envelope prefix grey-text"></i>
                                                <label data-error="wrong" data-success="right"  for="email">Your
                                                    email <span class="text-danger">*</span> </label>
                                                <input type="email" id="email" name="email"  class="form-control validate">
                                            </div>

                                            <div class="md-form mb-5">
                                                <i class="fas fa-phone prefix grey-text"></i>
                                                <label data-error="wrong" data-success="right"
                                                    for="phone">Phone Number <span class="text-danger">*</span> </label>
                                                <input type="text" class="form-control validate" name="phone" id="phone">
                                            </div>

                                            <div class="md-form mb-5">
                                                <i class="fas fa-pencil prefix grey-text"></i>
                                                <label data-error="wrong" data-success="right" for="address">Your
                                                    message <span class="text-danger">*</span> </label>
                                                <textarea type="text" name="address" id="address" class="md-textarea form-control"
                                                    rows="4"></textarea>
                                            </div>
                                            <div class="md-form mb-5">
                                                {{form.captcha}}
                                            </div>

                                        </div>
                                        <div class="modal-footer d-flex justify-content-center">
                                            <button class="btn btn-unique">Send <i
                                                    class="fas fa-paper-plane-o ml-1"></i></button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>

    <!-- End Products -->


    <!-- -------------------------------------------------------------- -->
    <!-- ----------------------------------------- -->

    <!-- Start Onflap range product
============================================= -->

    <div class="feature-areag de-pt">
        <div class="container">
            <div class=" feature-2 grid-12 ml-5">
                <!-- <h6 class="text-center filterh6" style="font-weight: 900;">OUR RANGE OF PRODUCTS</h6> -->
                <div class="section-header">
                    <h3 class="h3filter">Our Range Of Products</h3>
                </div>
                <div class="feature-wpr grid-3">
                    <div class="feature-box wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                        <div class="feature-icon">
                            <img src="{% static 'web/img/product/9.png' %}" alt="thumb">
                        </div>
                        <div class="feature-info">
                            <h5 style="font-weight: 900;">FIRST</h5>
                            <p class="mb-0  pfilter">
                                <span style="font-weight: bold;">Financial Reporting System</span><br>

                                With all financial data in a single
                                place accountants wont have to spend
                                hours cross posting data
                            </p>
                        </div>
                    </div>
                    <div class="feature-box wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                        <div class="feature-icon">
                            <img src="{% static 'web/img/product/10.png' %}" alt="thumb">
                        </div>
                        <div class="feature-info">
                            <h5 style="font-weight: 900;">CORE</h5>
                            <p class="mb-0">
                                <span style="font-weight: bold;">Customer Oriented Relations
                                    Enterprise</span><br>CORE manages your client information and client
                                concerns easily and securely
                            </p>
                        </div>
                    </div>
                    <div class="feature-box wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                        <div class="feature-icon">
                            <img src="{% static 'web/img/product/1.png' %}" alt="thumb">
                        </div>
                        <div class="feature-info">
                            <h5 style="font-weight: 900;">R-POS(RESTO)</h5>
                            <p class="mb-0">
                                <span style="font-weight: bold;">RESTO - POS</span><br>
                                Manage your restaurant business with
                                our Resto-POS system
                            </p>
                        </div>
                    </div>
                    <div class="feature-box wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                        <div class="feature-icon">
                            <img src="{% static 'web/img/product/box-01.png' %}" alt="thumb">
                        </div>
                        <div class="feature-info">
                            <h5 style="font-weight: 900;">PAC</h5>
                            <p class="mb-0">
                                <span style="font-weight: bold;">Pack And Courier</span><br>
                                Effortless and secure booking creation
                                for your clients to pack and move their
                                items worldwide
                            </p>
                        </div>
                    </div>
                    <div class="feature-box wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
                        <div class="feature-icon">
                            <img src="{% static 'web/img/product/6.png' %}" alt="thumb">
                        </div>
                        <div class="feature-info">
                            <h5 style="font-weight: 900;">FIESTA</h5>
                            <p class="mb-0">
                                <span style="font-weight: bold;">Fully Integrated Enterprise Suite for
                                    Travel Accounting</span><br>
                                It is our flagship premier product
                                which is widely acknowledged in the
                                travel industry for all back, mid and
                                front office operations
                            </p>
                        </div>
                    </div>
                    <div class="feature-box wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
                        <div class="feature-icon">
                            <img src="{% static 'web/img/product/2.png' %}" alt="thumb">
                        </div>
                        <div class="feature-info">
                            <h5 style="font-weight: 900;">R-POS(RETAIL)</h5>
                            <p class="mb-0">
                                <span style="font-weight: bold;">RETAIL - POS</span><br>

                                Encourage contactless shopping with
                                our custom POS Modules
                            </p>
                        </div>
                    </div>
                    <div class="feature-box wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                        <div class="feature-icon">
                            <img src="{% static 'web/img/product/12.png' %}" alt="thumb">
                        </div>
                        <div class="feature-info">
                            <h5 style="font-weight: 900;">EDMS</h5>
                            <p class="mb-0">
                                <span style="font-weight: bold;">Electronic Data Management System</span><br>
                                One point source to archive
                                all your documents
                            </p>
                        </div>
                    </div>
                    <div class="feature-box wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
                        <div class="feature-icon">
                            <img src="{% static 'web/img/product/5.png' %}" alt="thumb">
                        </div>
                        <div class="feature-info">
                            <h5 style="font-weight: 900;">HRMS</h5>
                            <p class="mb-0">
                                <span style="font-weight: bold;">Human Resource Management System</span><br>
                                Employee attendance, salary
                                processing and information
                                management have never been easier
                                with our online HR system
                            </p>
                        </div>
                    </div>
                    <div class="feature-box wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
                        <div class="feature-icon">
                            <img src="{% static 'web/img/product/8.png' %}" alt="thumb">
                        </div>
                        <div class="feature-info">
                            <h5 style="font-weight: 900;">PAYNET</h5>
                            <p class="mb-0">
                                Quick, secure and contactless
                                payment services
                            </p>
                        </div>
                    </div>
                    <div class="feature-box wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                        <div class="feature-icon">
                            <img src="{% static 'web/img/product/14.png' %}" alt="thumb">
                        </div>
                        <div class="feature-info">
                            <h5 style="font-weight: 900;">FORCE</h5>
                            <p class="mb-0">
                                <span style="font-weight: bold;">FOR Clinical Efficiency</span><br>
                                Quick overview of patient or doctor
                                information and appointments or
                                rooster management
                            </p>
                        </div>
                    </div>
                    <div class="feature-box wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                        <div class="feature-icon">
                            <img src="{% static 'web/img/product/4.png' %}" alt="thumb">
                        </div>
                        <div class="feature-info">
                            <h5 style="font-weight: 900;">FIIMS</h5>
                            <p class="mb-0">
                                <span style="font-weight: bold;">Fully Integrated Inventory
                                    Management System</span><br>
                                Get up to date information of your
                                business' inventory updated
                                movements
                            </p>
                        </div>
                    </div>
                    <div class="feature-box wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                        <div class="feature-icon">
                            <img src="{% static 'web/img/product/3.png' %}" alt="thumb">
                        </div>
                        <div class="feature-info">
                            <h5 style="font-weight: 900;">ATOMS</h5>
                            <p class="mb-0">
                                <span style="font-weight: bold;">A Total Office Management Suite</span><br>
                                Custom ERP comprising of multiple
                                stand alone modules which helps to
                                integrate different operations of your
                                enterprise
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- End range product -->

    <!-- ------------------------ -->
    <!-- -------------------------- -->


    <!-- Start services
============================================= -->

    <div class="container">
        <!-- <h6 class="text-center filterh6" style="margin-top: 80px;">OUR SERVICES</h6> -->
        <div class="section-header">
            <h3 class="h3filter" style="margin-top: 80px;">Our Services</h3>
        </div>
        <div class="feature-wpr grid-3" style="margin-top: 40px;">

            <div class="feature-box  ">
                <div class="card card2 card-custom bg-white border-white border-0">
                    <div></div>
                    <div class="card-custom-avatar">
                        <img class="img-fluid" src="{% static  'web/img/servies/oN-03.png' %}" alt="Avatar" />
                    </div>
                    <div class="card-body" style="overflow-y: auto">
                        <h4 class="card-title" style="color: #ef6363;">ERP Solutions</h4>
                        <p class="card-text">We provide Enterprise Resource Planning (ERP) systems customized for each
                            industry based on ASP.NET CORE.</p>
                    </div>
                </div>
            </div>
            <div class="feature-box  ">
                <div class="card card-custom bg-white card2 border-white border-0">
                    <div></div>
                    <div class="card-custom-avatar">
                        <img class="img-fluid" src="{% static  'web/img/servies/oN-02.png' %}" alt="Avatar" />
                    </div>
                    <div class="card-body" style="overflow-y: auto">
                        <h4 class="card-title" style="color: #ef6363;">Software Developments</h4>
                        <p class="card-text">Our expert team of Analysts, Designers and Developers can advice, study and
                            create customized applications that suit your needs.Work with all Platforms</p>
                    </div>
                </div>
            </div>
            <div class="feature-box  ">
                <div class="card card-custom bg-white card2 border-white border-0">
                    <div></div>

                    <div class="card-custom-avatar">
                        <img src="{% static  'web/img/servies/oN-01.png' %}" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body" style="overflow-y: auto">
                        <h4 class="card-title" style="color: #ef6363;">Hardware Installation & Support</h4>
                        <p class="card-text">
                            Be it installation of a brand new server, or supply and installation of
                            computers, we are a one-stop solution center for all your hardware needs..
                        </p>
                    </div>
                </div>
            </div>
            <div class="feature-box  ">
                <div class="card card-custom bg-white card2 border-white border-0">
                    <div></div>

                    <div class="card-custom-avatar">
                        <img src="{% static  'web/img/servies/oN-04.png' %}" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body" style="overflow-y: auto">
                        <h4 class="card-title" style="color: #ef6363;">Web / Digital Marketing</h4>
                        <p class="card-text">
                            Total solutions for any kind of requirements, whether it be design
                            development of website/e-commerce/web-applications, domain registration hosting,
                            implementing
                            SSL, e-mails, search engine (SEO/SEM) or social media (SMO/SME).
                        </p>
                    </div>
                </div>
            </div>
            <div class="feature-box  ">
                <div class="card card-custom bg-white card2 border-white border-0">
                    <div></div>

                    <div class="card-custom-avatar">
                        <img src="{% static  'web/img/servies/oN-05.png' %}" class="card-img-top" alt="...">

                    </div>
                    <div class="card-body" style="overflow-y: auto">
                        <h4 class="card-title" style="color: #ef6363;">Networking & Security</h4>
                        <p class="card-text">Long years of expertise in installing & maintaining internal/external
                            networks, data servers and applications by providing security reviews, audits, penetration
                            testing, investigative data services ,disaster recovery planning etc..
                        </p>
                    </div>
                </div>
            </div>
            <div class="feature-box  ">
                <div class="card card-custom bg-white card2 border-white border-0">
                    <div></div>

                    <div class="card-custom-avatar">
                        <img src="{% static  'web/img/servies/oN-06.png' %}" class="card-img-top" alt="...">

                    </div>
                    <div class="card-body" style="overflow-y: auto">
                        <h4 class="card-title" style="color: #ef6363;">Mobile Applications</h4>
                        <p class="card-text">
                            Looking for building Fast and Easy native iOS, Android or Windows app? or a
                            cross-platform hybrid app? We thrive in building custom APPs for individuals or corporates
                            with
                            solutions for a secure back-end, APIs and cloud services..
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End services -->


    <!-- ------------------------------------------------ -->
    <!-- -------------------------------------------- -->


    <!-- Start Partners
============================================= -->

    <section id="clients" class="section-bg">
        <div class="container">
            <div class="section-header">
                <h3 class="h3filter">Our Partners</h3>
            </div>
            <div class="row no-gutters clients-wrap clearfix wow fadeInUp"
                style="visibility: visible; animation-name: fadeInUp;">
                {% for p in partners %}
                <div class="col-lg-3 col-md-4 col-xs-6 col-6">
                    <div class="client-logo logo">
                        <img src="{{p.logo.url}}" class="img-fluid" alt="">
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- End Partners -->

    <!-- ------------------------------------------------ -->
    <!-- ------------------------------------------------ -->


    <!-- Client Section
============================================= -->
    <div class="container">
        <!-- <h6 class="text-center filterh6" style="margin-top: 80px;">We Cater To</h6> -->
        <div class="section-header">
            <h3 class="h3filter">We Cater To</h3>
        </div>

        <div class="filters filter-button-group">
            <ul class="ul">
                <h4>
                    <li class="active text-dark" data-filter="*">All</li>
                    {% for category in clients %}
                    <li data-filter=".{{category.title|slugify}}">{{category.title|capfirst}}</li>
                    {% endfor %}
                </h4>
            </ul>
        </div>
        <br />
        <div class="content grid row">
            {% for items in client_details %}
            <div class="col-md-3  {{items.category.title|slugify}}  grid-item"
                style="position: absolute;left: 160px;top: 0px;">
                <div class="each-item">
                    <img class="port-image" src="{{items.client_log.url}}"
                        style="padding: 5px;height: 80px;width: 80px;" />
                    <div class="centered">
                        <!-- <img src="{{items.client_log.url}}" alt=""> -->
                        <!-- <h4>{{items.Client_name}}</h4> -->
                    </div>
                    <div class="cap1">
                        <h3>{{items.Client_name}}</h3>
                        <p>
                            {{items.description}}
                        </p>
                    </div>
                    <div class="cap2">
                        <p class="text-center">Visit</p>
                    </div>

                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- End Client Section -->

    <!-- ------------------------------------------------ -->
    <!-- ------------------------------------------------ -->


    <!-- testimonials
============================================= -->
    <div class="container ">
        <div class="section-header" style="margin-top:80px ;">
            <h3 class="h3filter">Trusted by Businesses WorldWide</h3>
        </div>
        <div class="review-area de-pb" style="margin-top:50px ;">
            <div class="container">
                <div class="swiper-container review-wpr">
                    <div class="swiper-wrapper">
                        {% for r in reviews %}
                        <div class="swiper-slide">

                            <div class="review-single text-center">
                                <div class="row">

                                    <div class="col-xl-8 offset-xl-2">
                                        <div class="review-content">
                                            <img src="{{r.pro_pic.url}}" alt="" class="review_img">
                                            <p>
                                                {{r.review}}
                                            </p>
                                            <div class="review-bio">

                                                <h5>{{r.name}}</h5>
                                                <span>{{r.position}}</span>
                                                <div class="review-rating d-flex align-items-center">
                                                    <i class="icofont-star"></i>
                                                    <i class="icofont-star"></i>
                                                    <i class="icofont-star"></i>
                                                    <i class="icofont-star"></i>
                                                    <i class="icofont-star"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                        {% endfor %}
                    </div>
                    <!-- Add Arrows -->
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- End testimonials -->

</main>




<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script>
    $(document).ready(function () {

        $('.grid').isotope({
            itemSelector: '.grid-item',
        });

        // filter items on button click
        $('.filter-button-group').on('click', 'li', function () {
            var filterValue = $(this).attr('data-filter');
            $('.grid').isotope({ filter: filterValue });
            $('.filter-button-group li').removeClass('active');
            $(this).addClass('active');
        });
    })
</script>


{% endblock %}