
{% load static %}

<link rel="stylesheet" href="{% static 'web/footer.css' %}">

<style>
    .foot-title{
        font-size: 14px;
    }
    .text-dark{
        font-size: 15px;
    }
</style>



<footer >
    <div class="footer-widget" style="margin-top: 80px;">
        <div class="container">
            <!-- <div class="row mb-5">
                <div class="col-lg-8 mx-auto">
                    <form action="">
                        <div class="input-group mb-4">
                            <input type="search" placeholder="Search here..." aria-describedby="button-addon5"
                                class="form-control">
                            <div class="input-group-append">
                                <button id="button-addon5" type="submit" class="btn btn-primary"
                                    style="height: 44px; width: 44px ;"> <i class="fa fa-search"> </i> </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <ul class="ZPprivacy nav navbar navbar-left d-flex d-inline-flex justify-content-center" style="margin-left: 6rem;">
                <li class=""><a href="/">Onflap Home</a></li> <span class="cw_loc_div"></span>
                <li class=""><a href="">Contact Us</a></li> <span class="cw_loc_div"></span>
                <li><a href="">Security</a></li> <span class="cw_loc_div"></span>
                <li><a href="">Testimonial</a></li> <span class="cw_loc_div"></span>
                <li><a href=""> Career</a></li> <span class="cw_loc_div"></span>
                <li class="footer-terms"><a href="">Terms of Service</a></li> <span class="cw_loc_div"></span>
                <li><a href="">Privacy Policy</a></li> <span class="cw_loc_div"></span>
                <li><a href="">Abuse Policy</a></li>
            </ul> -->
 
            <div class="text-center">
                <p class="text-dark">
                    © 2022, Onflap. All Rights Reserved.
                </p>
            </div>

            <div class="copyright justify-content-center">
                <ul class="footer-social">
                    <li><a target="_blank" href="https://www.facebook.com/onflaptech/"><i
                                class="fab fa-facebook-f"></i></a></li>
                    <li><a target="_blank" href="https://www.instagram.com/onflaptech/?igshid=1b8qlek00fuj"><i
                                class="fab fa-instagram"></i></a></li>
                    <li><a target="_blank" href="https://www.linkedin.com/company/onflap-technologies/about/"><i
                                class="fab fa-linkedin-in"></i></a></li>
                    <li><a target="_blank" href="https://www.youtube.com/c/OnFlapTechnologies?app=desktop"><i class="fab fa-youtube"></i></a></li>
                    <li><a target="_blank" href="https://twitter.com/OnflapT"><i class="fab fa-twitter"></i></a></li>
                </ul>
            </div>
        </div>
    </div>

</footer>