@media only screen and (max-width: 1440px) {
        
    p {
        margin-top: 69px;
    }
 }

@media only screen and (max-width: 768px) {
    .heading .subhead {
        font-size: 1.5rem;
        font-weight: 800;
    }
    .heading{
        margin-top: 95px;
    }
    .value .department {
        font-size: 1.5rem;
    }

    .row {
        margin-top: -136px;
    }

    .job-details-area h6.title {
        font-size: 20px;
    }

    .section-title {
        text-align: center;

        margin-top: 138px;
    }

    .job-details-area span {
        font-size: 15px;
        font-weight: 400;
        padding: -1px;
    }

    .job-details-area .sub-title {
        margin-top: 22px;
        font-size: 17px;
        line-height: 22px;
        font-weight: 500;
        letter-spacing: 0.2px;
        color: #b71919;
        margin-bottom: -3px;
        padding: -1px;
    }
    
}