.section-header h3 {
    font-size: 32px;
    color: #050505;
    text-align: center;
    font-weight: 5500;
    position: relative;
    font-family: var(--font-2);
}

.section-header p {
    text-align: center;
    margin: auto;
    font-size: 15px;
    padding-bottom: 60px;
    color: #5f1212;
    width: 50%;
}

/* #clients {
    padding: 60px 0;

}

#clients .clients-wrap {
    border-top: 0px solid #5f1212;
    border-left: 0px solid #5f1212;
    margin-bottom: 30px;
}

#clients .client-logo {
    padding: 64px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-right: 0px solid #5f1212;
    border-bottom: 0px solid #5f1212;
    overflow: hidden;
    background: #fff;
    height: 160px;
}

#clients img {
    transition: all 0.4s ease-in-out;
} */

.fun-fact .fun-icon .timer {
    font-size: 1.4rem;
}

.fun-fact .fun-icon {
    height: 8.8rem;
    width: 8.8rem;
}

.fun-fact .fun-icon img {
    display: block;
    margin-bottom: 0.4rem;
}

@media only screen and (min-width: 310px) and (max-width: 430px) {
    .section-header h3 {
        font-size: 20px;
    }
}

.blockquote-custom {
    position: relative;
    font-size: 1.1rem;
  }
  
  .blockquote-custom-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -55px;
    left: -6px;
  }
  @media only screen and (max-width: 1440px){
    .row {
    margin-top: 38px;
}
  }
.row {
    margin-top: 75px;
    /* padding: 0px 0px 0px 0px; */
    
  }
  .para{
    font-size: 15px;
    text-align: center;
    /* justify-content: center; */
  }
  .border-top{
    font-size: 15px;
  }
  @media only screen and (max-width: 767px){
    .about-title {
    font-size: 32px;
    margin-bottom: 3rem;
    margin-top: 0px;
}
  }

  .grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;
    margin-top: 25px;
}

