




.head{
    /* color: #15909b; */
    color: var(--heading-color);
    font-size: 32px;
    text-transform: capitalize;
    font-weight: bold;
    margin-top: 100px;
    font-family: var(--font-2);
}

p.benefits{
    margin-bottom: 1.5rem;
    color: #3e3e40;
    line-height: 3rem;
    text-align: center;
    justify-content: center;
    padding: 0px 137px;
}

.bluecard{
    background-color: #e8f7fa;
}

.card-title{
    text-align: center;
    font-weight: bold;
    font-size: 21px;
}

.card-content{
    font-size: 15px;
    letter-spacing: 0.5px;
    line-height: 2.5rem;
    margin-top: 20px;
    text-align: center;
}
.card{
    height: 450px;
}
@media only screen and (min-width: 765px) and (max-width: 1024px) {
    .site-breadcrumb .breadcrumb-title {
        margin-top: 255px;
    }
    .head{
        margin-top: 200px;
    }
    p.benefits {
        font-size: 15px;
    }
    .mt{
        margin-top: 150px;
    }
    .card{
        margin-top: 50px;
    }
    .card-content {
        font-size: 13px;
    }
    .card-title {
        font-size: 19px;
    }
}
@media only screen and (min-width: 320px) and (max-width: 760px) {
    .site-breadcrumb .breadcrumb-title {
        margin-top: 350px;
    }
    p.benefits {
        font-size: 13px;
    line-height: 2.5rem;
    padding: 0px 32px 0px 32px;
    }
    .card{
        margin-top: 30px;
        height: 428px;
    }
    .card-content {
        font-size: 13px;
    }
    .card-title {
        font-size: 19px;
    }
    .mt{
        margin-top: 200px;
    }
}