<!-- <div class="banner-text">
                                <span>TECH</span>
                            </div> -->
                            <!-- <div class="banner-left-content">
                                <div class="banner-left-video">
                                    <div class="circle">
                                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="300px"
                                            height="300px" viewBox="0 0 300 300" enable-background="new 0 0 300 300"
                                            xml:space="preserve">
                                            <defs>
                                                <path id="circlePath"
                                                    d=" M 150, 150 m -60, 0 a 60,60 0 0,1 120,0 a 60,60 0 0,1 -120,0 " />
                                            </defs>
                                            <circle cx="150" cy="100" r="75" fill="none" />
                                            <g>
                                                <use xlink:href="#circlePath" fill="none" />
                                                <text fill="#3249b3">
                                                    <textPath xlink:href="#circlePath">Onflap * Onflap * Onflap * Onflap
                                                        * Onflap * Onflap * Onflap * Onflap * Onflap * Onflap * Onflap *
                                                    </textPath>
                                                </text>
                                            </g>
                                        </svg>
                                    </div>
                                    <div class="video-main">
                                        <div class="promo-video">
                                            <div class="waves-block">
                                                <div class="waves wave-1"></div>
                                                <div class="waves wave-2"></div>
                                                <div class="waves wave-3"></div>
                                            </div>
                                        </div>
                                        <a class="video-icon video" data-rel="lightcase:myCollection"
                                            href="https://www.youtube.com/embed/LRhrNC-OC0Y">
                                            <i class="fas fa-play"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="banner-left-arrow">
                                    <img src="{% static 'sof/images/element/element-1.png' %}" alt="element">
                                </div>
                                <div class="banner-left-intro">
                                    <span>Play Intro</span>
                                </div>
                                <div class="banner-left-footer">
                                    <p>Personalization assumed up an excess of position in the showcasing space and has
                                        made each and every one of your messages exhausting and without feelings.</p>
                                    <div class="banner-left-btn">
                                        <a href="{% url 'web:contact' %}" class="btn--base active">Contact Us</a>
                                    </div>
                                </div>
                            </div> -->
















 <!-- <section class="service-section two ptb-120">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-12">
                    <div class="service-item three details">
                        <div class="service-thumb">
                            <img src="{% static 'sof/images/service.png' %}" alt="service">
                        </div>
                        <div class="service-content">
                            <h2 class="title">Corporate Business Consulting</h2>
                            <p>That is the reason you can redo each component of our administrations to your
                                organization, items or administrations, and objectives. As a result, you can customize
                                each aspect of our administrations to your organization, products or administrations,
                                and goals.</p>
                            <div class="service-widget-item-area">
                                <div class="row justify-content-center mb-30-none">
                                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 mb-30">
                                        <div class="service-widget-item">
                                            <div class="service-widget-icon">
                                                <img src="{% static 'sof/images/icon/icon-17.png' %}" alt="icon">
                                            </div>
                                            <div class="service-widget-content">
                                                <h5 class="title">CUSTOMIZED STYLE</h5>
                                                <span class="sub-title">Pre Designed</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 mb-30">
                                        <div class="service-widget-item">
                                            <div class="service-widget-icon">
                                                <img src="{% static 'sof/images/icon/icon-18.png' %}" alt="icon">
                                            </div>
                                            <div class="service-widget-content">
                                                <h5 class="title">IN TIME RESULT</h5>
                                                <span class="sub-title">Developer Time</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 mb-30">
                                        <div class="service-widget-item">
                                            <div class="service-widget-icon">
                                                <img src="{% static 'sof/images/icon/icon-19.png' %}" alt="icon">
                                            </div>
                                            <div class="service-widget-content">
                                                <h5 class="title">PIXEL PERFECT</h5>
                                                <span class="sub-title">Design Time</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 mb-30">
                                        <div class="service-widget-item">
                                            <div class="service-widget-icon">
                                                <img src="{% static 'sof/images/icon/icon-20.png' %}" alt="icon">
                                            </div>
                                            <div class="service-widget-content">
                                                <h5 class="title">SEO FRIENDLY</h5>
                                                <span class="sub-title">Development</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="service-bottom-content">
                                <h2 class="title">Service Description</h2>
                                <p>Pick our website architecture administrations, and your business can depend on 100%
                                    straightforwardness. From our customized statements to our underlying plans, our
                                    group gives your organization complete admittance to our website
                                    Get free, exact, and moment quote for our website architecture and advancement
                                    administrations with our simple to-utilize number cruncher. Our group tailors our
                                    website composition administrations to your organization and its one of a kind
                                    requirements. That is the reason you can redo each component of our administrations
                                    to your organization, items or administrations, and objectives.</p>
                                <p>We expand the aftereffects of your web composition or upgrade plan, just as improve
                                    your advanced advertising methodology, by guaranteeing your site follows best
                                    practices for website streamlining (SEO). Web optimization alludes to an umbrella of
                                    strategies that upgrade your site’s positioning for significant list items. A higher
                                    positioning in list items relates to higher perceivability.</p>
                                <div class="sevice-inner-item-area">
                                    <div class="row justify-content-center mb-30-none">
                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-30">
                                            <div class="service-inner-item">
                                                <div class="service-inner-icon">
                                                    <img src="{% static 'sof/images/icon/icon-14.png' %}" alt="icon">
                                                </div>
                                                <div class="service-inner-content">
                                                    <h4 class="title">Over 1500 DVSA certified Develop web product</h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-30">
                                            <div class="service-inner-item">
                                                <div class="service-inner-icon">
                                                    <img src="{% static 'sof/images/icon/icon-15.png' %}" alt="icon">
                                                </div>
                                                <div class="service-inner-content">
                                                    <h4 class="title">Free access to our award winning road brain
                                                        stroming</h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-30">
                                            <div class="service-inner-item">
                                                <div class="service-inner-icon">
                                                    <img src="{% static 'sof/images/icon/icon-16.png' %}" alt="icon">
                                                </div>
                                                <div class="service-inner-content">
                                                    <h4 class="title">Successful Project Delivery System in our team
                                                    </h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <p>Pick our website architecture administrations, and your business can depend on 100%
                                    straightforwardness. From our customized statements to our underlying plans, our
                                    group gives your organization complete admittance to our website
                                    Get free, exact, and moment quote for our website architecture and advancement
                                    administrations with our simple to-utilize number cruncher. Our group tailors our
                                    website composition administrations to your organization and its one of a kind
                                    requirements. That is the reason you can redo each component of our administrations
                                    to your organization, items or administrations, and objectives.</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>




    <div class="single-area de-padding">
        <div class="container">
            <div class="contact-page-info grid-2">
                <div class="contact-left">
                    <h2 data-splitting class="mb-50 wow" data-wow-duration=".1s" data-wow-delay=".4s">
                        Hello! Have you want <br />
                        to need any inquary or <br />
                        have any Questions?
                    </h2>
                    <ul class="contact-list wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
                        <li>
                            <h5 class="fz-18-5">Address:</h5>
                            <span>House 00, Road No : 01, Street address, ABC, Canada</span>
                        </li>
                        <li>
                            <h5 class="fz-18-5">Phone:</h5>
                            <span>+0 123-456-7890, +00 123-456-789</span>
                        </li>
                        <li>
                            <h5 class="fz-18-5">Email:</h5>
                            <span><a href="#">hello@example.com</a></span>
                        </li>
                    </ul>
                </div>
                <div class="contact-right wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
                    <form class="contact-form" id="contact-form" action="https://themetum.com/ailng/php/contact.php"
                        method="POST">
                        <div class="row g-4">
                            <div class="col-md-6">
                                <input type="text" name="name" class="form-control input-style-2"
                                    placeholder="Marcos Zeletoyan">
                            </div>
                            <div class="col-md-6">
                                <input type="text" name="phone" class="form-control input-style-2"
                                    placeholder="+00- 1234- 56789">
                            </div>
                            <div class="col-md-12">
                                <input type="email" name="email" class="form-control input-style-2"
                                    placeholder="Email Address">
                            </div>
                            <div class="col-12">
                                <textarea class="form-control input-style-2" name="message"
                                    placeholder="Message"></textarea>
                            </div>
                            <div class="col-12">
                                <button type="submit" class="theme-btn mt-20">
                                    Send Message
                                </button>
                            </div>
                            <div class="col-12 text-center">
                                <p class="form-message"></p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div> -->





    <!-- <section class="contact-section two pb-120">
        <div class="container">
            
            <div class="contact-area">
               
                <div class="row mb-30-none">
                   
                </div>
            </div>
        </div>
    </section> -->

    <!-- Start Subscribe
    ============================================= -->

    <!-- End Subscribe -->