{% extends 'web/partials/base.html' %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'web/about.css' %}">
<style>
   .fun-fact .fun-icon {
    height: 87px;
    width: 87px;
}
.about-left .about-img img {
    margin-top: 119px;
}
@media screen and (min-width:320) and (max-width:995px){
  .about-left .about-img img {
    margin-top: 119px;
}

}
@media screen and (min-width:770px) and (max-width:991px) {
    .about-left .about-img img {
    margin-top: -7px;
}
}
@media only screen  and (min-width:320px) and (max-width:768px) {
    .fun-fact .fun-icon {
    height: 75px !important;
    width: 75px !important;
}
}
</style>

<main class="main">
    <!-- Start About
    ============================================= -->
    <div class="container">
        <div class="about-area de-pt">
            <div class="about-wpr grid-2">
                <div class="about-left">
                    <div class="about-img">
                        <img src="{% static 'web/img.jpg' %}" alt="thumb">
                    </div>
                </div>
                <div class="about-right about-padding-right">
                    <!-- <span class="about-sub-title">About Agency</span> -->
                    <h2 class="about-title" style="color: black;">Who We
                        Are</h2>
                    <p>
                        Established with the specific aim of
                        empowering the IT industry
                        in the region through distribution &
                        development
                        of powerful, cost effective and scalable IT
                        solutions. <br>
                        <b>WE ARE</b> the region's fastest growing
                        software development
                        house, encompassing some of the best
                        programmers in the
                        industry. <br>
                        WE enjoy a vast Clientele including multiple
                        ERP and inventory solutions for various
                        sectors like Travel & Tourism, BPOs, Retail
                        & Manufacturing, Medical, Agro Industries,
                        Courier, Rental, Online E-COM and Learning
                        Platforms etc,.
                    </p>
                    <div class="about-fact grid-3">
                        <div class="fun-fact wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                            <div class="fun-icon">
                                <img src="{% static 'web/img/icons/1.png' %}" alt="thumb">
                                <p class="timer" data-to="1500" data-speed="3000">1500</p>
                            </div>
                            <div class="fun-desc">
                                <span class="medium">Project Completed</span>
                            </div>
                        </div>
                        <div class="fun-fact wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                            <div class="fun-icon">
                                <img src="{% static 'web/img/icons/2.png' %}" alt="thumb">
                                <p class="timer" data-to="50" data-speed="3000">50</p>
                            </div>
                            <div class="fun-desc">
                                <span class="medium">Team Members</span>
                            </div>
                        </div>
                        <div class="fun-fact wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
                            <div class="fun-icon">
                                <img src="{% static 'web/img/icons/feedback.png' %}" alt="thumb">
                                <p class="timer" data-to="500" data-speed="3000">500</p>
                            </div>
                            <div class="fun-desc">
                                <span class="medium">Happy Clients</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End About -->


    <!-- mission vision -->

    <div class="container">
        <div class="row">
            <!-- <section class="mx-auto my-5" style="max-width: 23rem;"> -->

            <div class="col d-flex justify-content-center">
                <div class="card mv-card">
                    <div class="card-body">
                        <blockquote class="blockquote blockquote-custom bg-white px-3 pt-4">
                            <div class="blockquote-custom-icon bg-info shadow-1-strong">
                                <i class="fa fa-quote-left text-white"></i>
                            </div>
                            <p class="para">
                                "To establish long lasting client relationships and to be their No. I choice of businesses for all their software needs, and set new industry standards in quality and speed of delivery. Our vision is to help our clients grow their business with quality and style with ease always considering the changing market trends."
                                <!-- <a href="#" class="text-info">@consequat</a>." -->
                            </p>
                            <footer class="blockquote-footer pt-4 mt-4 border-top">
                                Vision
                            </footer>
                        </blockquote>
                    </div>
                </div>
            </div>

            <div class="col d-flex justify-content-center">
                <div class="card mv-card">
                    <div class="card-body">
                        <blockquote class="blockquote blockquote-custom bg-white px-3 pt-4">
                            <div class="blockquote-custom-icon bg-info shadow-1-strong">
                                <i class="fa fa-quote-left text-white"></i>
                            </div>
                            <p class="para">
                                " Provide the market with innovative, flexible and smart software solutions which
                                matches the international standards for a greater convenience, safety and security "
                                <!-- <a href="#" class="text-info">@consequat</a>." -->
                            </p>
                            <footer class="blockquote-footer pt-4 mt-5 border-top">
                                Mission
                            </footer>
                        </blockquote>
                    </div>
                </div>
            </div>
            <!-- </section> -->
        </div>
    </div>
    <!-- /mission vision -->



</main>




{% endblock %}