{% extends 'web/partials/base.html' %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'career/css/careerpage.css' %}">

<style>
     @media only screen and (max-width: 1440px) {
        
        p {
            margin-top: 20px;
        }
     }

    @media only screen and (max-width: 768px) {
        .heading .subhead {
            font-size: 1.5rem;
            font-weight: 800;
        }
        .heading{
            margin-top: 10px;
        }
        .value .department {
            font-size: 2rem;
        }

        .row {
            margin-top: -136px;
        }

        .job-details-area h6.title {
            font-size: 20px;
        }

        .section-title {
            text-align: center;

            margin-top: 138px;
        }

        .job-details-area span {
            font-size: 15px;
            font-weight: 400;
            padding: -1px;
        }

        .job-details-area .sub-title {
            margin-top: 22px;
            font-size: 17px;
            line-height: 22px;
            font-weight: 500;
            letter-spacing: 0.2px;
            color: #b71919;
            margin-bottom: -3px;
            padding: -1px;
        }
        
    }
</style>

<main class="main">
    <div class="site-breadcrumb">
        <div class="container value">
            {% for d in category %}
            
            <h2 class="breadcrumb-title department" style="margin-top: 170px;">{{d.job_title|upper}}</h2>
            <p class="heading">
                <span class="subhead "> {{d.location|title}}</span>
                <span class="cw_loc_div subhead"></span><span id="data_jobtype">
                </span> <span class="subhead">{{d.work_mode}}</span>
            </p>

        </div>
    </div>

    <div class="contact-section ptb-120">

        <div class="job-details-area pd-top-112">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-6 col-lg-8 offset-xl-1">
                        <div class="section-title">
                            <h2 class="title">Job Details</h2>
                        </div>
                        <div class="media single-job-details">
                            <div class="media-body">
                                <h6 class="sub-title pad" style="font-weight: 900;">{{d.job_title|upper}}</h6>
                            </div>
                        </div>
                        <div class="media single-job-details">
                            <div class="media-body">
                                <h6 class="sub-title">Job Description</h6>
                                <span class="pad">{{d.job_description|safe}}</span>
                            </div>
                        </div>
                        <div class="media single-job-details">
                            <div class="media-body">
                                <h6 class="sub-title ">Job Responsibilities</h6>
                                <span class="">
                                    <p>
                                        {{d.job_responsibility|safe|title}}
                                    </p>
                                </span>
                            </div>
                        </div>
                        <div class="media single-job-details">
                            <div class="media-body">
                                <h6 class="sub-title ">Educational Requirements</h6>
                                <span class="">
                                    <p>
                                        {{d.educational_requirments|safe|title}}
                                    </p>
                                </span>
                            </div>
                        </div>
                        <a href="{% url 'web:applynow' d.id %}" class="job-apply-btn" style="margin-bottom: 20px;">Apply
                            Now</a>



                    </div>
                    <div class="col-xl-3 col-lg-4 offset-xl-1">
                        <div class="widget widget-job-details">
                            <h3 class="widget-title">Job Details</h3>
                            <div class="media single-job-details">
                                <img src="{% static 'career/images/riyastemp/2.svg' %}" alt="icon">
                                <div class="media-body">
                                    <h6>Location</h6>
                                    <span>{{d.location|title}}</span>
                                </div>
                            </div>
                            <div class="media single-job-details">
                                <img src="{% static 'career/images/riyastemp/3.svg' %}" alt="icon">
                                <div class="media-body">
                                    <h6>Job Type</h6>
                                    <span>{{d.work_mode}}</span>
                                </div>
                            </div>
                            <div class="media single-job-details">
                                <img src="{% static 'career/images/riyastemp/4.svg' %}" alt="icon">
                                <div class="media-body">
                                    <h6>Experience</h6>
                                    <span>{{d.experience}} year{{d.experience|pluralize}}</span>
                                </div>
                            </div>
                            <div class="media single-job-details mb-0">
                                <img src="{% static 'career/images/riyastemp/5.svg' %}" alt="icon">
                                <div class="media-body">
                                    <h6>Salary</h6>
                                    <span>{{d.salary}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>
</main>





{% endblock %}