{% extends 'web/partials/base.html' %}
{% block content %}
{% load static %}


<link rel="stylesheet" href="{% static 'career/css/careerpage.css' %}">
<style>
    .btn:hover {
    color: #f8f9fa;
}
    @media only screen and (max-width: 330px) {
        .brtitle {
            margin-top: 160px;
            font-size: 1.5rem;
        }

        .height {
            margin-top: -77px;
        }

        .head1 .brtitle {
            font-size: 2rem;
            font-weight: 600;
        }

    }

    @media only screen and (max-width: 430px) {
        .card .card1{
            margin-bottom: 98px;
        }
        h6 .sec1{
    font-size: 19px;
}
    }

    .card .card1 {
        margin-bottom: 98px;
        width: 100%;
    }

    .job-redirect-button {
        padding: 15px 4px;
        border: 3px solid #0097a4;
        color: #fff;
        display: inline-block;
        font-size: 18px;
        /* margin-right: 20px; */
        margin-bottom: 30px;
    }

    .margin-top-10 {
        margin-top: 10px;
    }

    @media (min-width: 1200px) {
        .col-lg-offset-3 {
            margin-left: 25%;
        }
        h6 .sec1{
    font-size: 26px !important;
}
    }

    @media (min-width: 1200px) {
        .col-lg-6 {
            width: 50%;
        }
    }

    .job-redirect-button span {
        background: #0097a4;
        padding: 10px;
    }



    @media only screen and (max-width: 730px) {

        .div1,
        .div2 {
            justify-content: center !important;
        }

    }

    .para {
        text-align: center;
        justify-content: center;
        padding: 0px 5px 0px 5px;
        font-size: 13px;
        margin-top: -65px;
    }

    @media only screen and (min-width: 730px) and (max-width:1440px) {
        .para {
            font-size: 13px;
        }
    }
</style>

<link rel="stylesheet" href="{% static 'web/career.css' %}">

<main class="main">
    <div class="site-breadcrumb head1">
        <div class="container">
            <h2 class="breadcrumb-title brtitle head">Why Join ONFLAP?</h2>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <p class="para">
                Onflap is now presenting exciting career opportunities for technical heads to hone their passion and dexterities for advanced technology.  built on a strong vision and corporate philosophy of continuous adaptation, client service, and professional growth. Our Onflap Family is always growing, and we look forward to welcoming new members who are looking to expand their potential and place their careers on a path to success. We are looking for smart people who enjoy working with each other in a fun, collaborative, and dynamic environment. If that's you, it's time for you to build your career with the vibrant team of Onflap.
            </p>
        </div>
    </div>
    <div class="container ">
        <div class="row">
            <div class="col-lg-12 col-12 d-lg-none d-sm-block d-md-block d-block">
                    <div class="row sec justify-content-center">
                        <h6 class="text-center sec1">World-Class Benefits for a World-Class Team</h6>

                        <div class="col-lg-12 col-6" style="margin-top: 20px;">
                            <div class="feature-box fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                                <div class="feature-icon">
                                    <img src="{% static 'web/img/icons/icons ai-01.png' %}" width="45px" alt="thumb">
                                </div>
                                <div class="feature-info">
                                    <h5 style="font-weight: 900;">100% Paid Medical Insurance</h5>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12 col-6" style="margin-top: 20px;">
                            <div class="feature-box wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                                <div class="feature-icon">
                                    <img src="{% static 'web/img/icons/icons ai-02.png' %}" width="45px" alt="thumb">
                                </div>
                                <div class="feature-info">
                                    <h5 style="font-weight: 900;">Retirement Planning</h5>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12 col-6" style="margin-top: 20px;">
                            <div class="feature-box wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                                <div class="feature-icon">
                                    <img src="{% static 'web/img/icons/icons ai-03.png' %}" width="45px" alt="thumb">
                                </div>
                                <div class="feature-info">
                                    <h5 style="font-weight: 900;">Paid Vacation & Time Off</h5>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12 col-6" style="margin-top: 20px;">
                            <div class="feature-box wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                                <div class="feature-icon">
                                    <img src="{% static 'web/img/icons/icons ai-04.png' %}" width="45px" alt="thumb">
                                </div>
                                <div class="feature-info">
                                    <h5 style="font-weight: 900;">Subsidized Housing Rent
                                    </h5>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12 col-6" style="margin-top: 20px;">
                            <div class="feature-box wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
                                <div class="feature-icon">
                                    <img src="{% static 'web/img/icons/icons ai-05.png' %}" width="45px" alt="thumb">
                                </div>
                                <div class="feature-info">
                                    <h5 style="font-weight: 900;">Learning and Skill Development</h5>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12 col-6" style="margin-top: 20px;">
                            <div class="feature-box wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
                                <div class="feature-icon">
                                    <img src="{% static 'web/img/icons/icons ai-06.png' %}" width="45px" alt="thumb">
                                </div>
                                <div class="feature-info">
                                    <h5 style="font-weight: 900;">Swift Growth Opportunities</h5>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12 col-6" style="margin-top: 20px;">
                            <div class="feature-box wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
                                <div class="feature-icon">
                                    <img src="{% static 'web/img/icons/icons ai-07.png' %}" width="45px" alt="thumb">
                                </div>
                                <div class="feature-info">
                                    <h5 style="font-weight: 900;">Loyalty & Gratuity Bonuses</h5>
                                </div>
                            </div>
                        </div>
        
        
                    </div>
                
            </div>
            <div _ngcontent-ayi-c20="" class="col-xs-6 col-md-6 col-lg-6  col-6 d-flex justify-content-end  div1">
                <a _ngcontent-ayi-c20="" href="{% url 'web:kuwaitbenfits' %}" class="job-redirect-button margin-top-10  ">
                    <span _ngcontent-ayi-c20="">Kuwait Benefits </span>
                </a>

                <!-- col-md-offset-1 col-lg-offset-3 text-center d-flex justify-content-center margin-bottom-20 margin-top-20 -->
            </div>
            <div _ngcontent-ayi-c20="" class="col-xs-6 col-md-6  col-lg-6 col-6 div2 d-flex ">
                <a _ngcontent-ayi-c20="" href="{% url 'web:indianbenfits' %}" class="job-redirect-button margin-top-10">
                    <span _ngcontent-ayi-c20="">India Benefits </span>
                </a>
            </div>
        </div>

    </div>

    <style>
        .single-job-details .media-body {
            margin-left: 45.25px;
            margin-top: -17px;
            font-size: 13px;
        }

.card1 {
    margin-bottom: 98px;
    /* height: 316px; */
}

@media only screen and (min-width: 320px){
    .card1 {
    /* height: 316px; */
}
}

.card1 {
    background: white;
    padding: 30px;
    border-radius: 3px;
    box-sizing: border-box;
    color: black;
    /* margin: 20px; */
    box-shadow: rgb(50 50 93 / 25%) 8px 30px 60px -12px, rgb(0 0 0 / 30%) 0px 18px 36px -18px;
    margin-top: -20px;
    height: 235px;
}

    </style>



<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="row">
                {% for job in jobs %}
                <div class="col-lg-12 col-sm-12 col-md-12">
                    <div class="card card1">
                        <div class="row">
                            <div class="col-lg-4 col-md-3 d-flex justify-content-center">
                                <h3 class="card-title">{{job.job_title}}</h3><br><br>
                            </div>
                            <div class="col-lg-5 col-md-5 justify-content-center">
                                <div class="media single-job-details">
                                    <img src="{% static 'career/images/riyastemp/2.svg' %}" alt="icon">
                                    <div class="media-body">
                                        <h6>Location</h6>
                                        <span>{{job.location|title}}</span>
                                    </div>
                                </div>
                                <div class="media single-job-details">
                                    <img src="{% static 'career/images/riyastemp/3.svg' %}" alt="icon">
                                    <div class="media-body">
                                        <h6>Job Type</h6>
                                        <span>{{job.work_mode}}</span>
                                    </div>
                                </div>
                                <div class="media single-job-details">
                                    <img src="{% static 'career/images/riyastemp/4.svg' %}" alt="icon">
                                    <div class="media-body">
                                        <h6>Experience</h6>
                                        <span>{{job.experience}} year{{job.experience|pluralize}}</span>
                                    </div>
                                </div>
                            </div>
        
                            <div class="col-lg-3 col-md-3 d-flex align-items-end">
                                <a href="{% url 'web:careerdetails' job.id %}" class="btn btn1">Read More</a>
                            </div>
        
                        </div>
                    </div>
                </div>
                {% endfor %}
               
            </div>
        </div>
        <div class="col-lg-6 d-lg-block d-sm-none d-md-none d-none">
            <div class="row sec">
                <h6 class="text-center sec1">World-Class Benefits for a World-Class Team</h6>
                <div class="grid-4 " style="margin-top: 20px;">


                    <div class="feature-box fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                        <div class="feature-icon">
                            <img src="{% static 'web/img/icons/icons ai-01.png' %}" width="45px" alt="thumb">
                        </div>
                        <div class="feature-info">
                            <h5 style="font-weight: 900;">100% Paid Medical Insurance</h5>
                        </div>
                    </div>
                    <div class="feature-box wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                        <div class="feature-icon">
                            <img src="{% static 'web/img/icons/icons ai-02.png' %}" width="45px" alt="thumb">
                        </div>
                        <div class="feature-info">
                            <h5 style="font-weight: 900;">Retirement Planning</h5>
                        </div>
                    </div>
                    <div class="feature-box wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                        <div class="feature-icon">
                            <img src="{% static 'web/img/icons/icons ai-03.png' %}" width="45px" alt="thumb">
                        </div>
                        <div class="feature-info">
                            <h5 style="font-weight: 900;">Paid Vacation & Time Off</h5>
                        </div>
                    </div>
                    <div class="feature-box wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                        <div class="feature-icon">
                            <img src="{% static 'web/img/icons/icons ai-04.png' %}" width="45px" alt="thumb">
                        </div>
                        <div class="feature-info">
                            <h5 style="font-weight: 900;">Subsidized Housing Rent
                            </h5>
                        </div>
                    </div>
                    <div class="feature-box wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
                        <div class="feature-icon">
                            <img src="{% static 'web/img/icons/icons ai-05.png' %}" width="45px" alt="thumb">
                        </div>
                        <div class="feature-info">
                            <h5 style="font-weight: 900;">Learning and Skill Development</h5>
                        </div>
                    </div>
                    <div class="feature-box wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
                        <div class="feature-icon">
                            <img src="{% static 'web/img/icons/icons ai-06.png' %}" width="45px" alt="thumb">
                        </div>
                        <div class="feature-info">
                            <h5 style="font-weight: 900;">Swift Growth Opportunities</h5>
                        </div>
                    </div>
                    <div class="feature-box wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
                        <div class="feature-icon">
                            <img src="{% static 'web/img/icons/icons ai-07.png' %}" width="45px" alt="thumb">
                        </div>
                        <div class="feature-info">
                            <h5 style="font-weight: 900;">Loyalty & Gratuity Bonuses</h5>
                        </div>
                    </div>
                    <!-- <div class="feature-box wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
                        <div class="feature-icon">
                            <img src="{% static 'web/img/icons/icons ai-08.png' %}" width="45px" alt="thumb">
                        </div>
                        <div class="feature-info">
                            <h5 style="font-weight: 900;">Charity Participation</h5>
                        </div>
                    </div> -->


                </div>
            </div>
        </div>
    </div>
   
    
</div>









    <style>
        .single-job-details {
            margin-bottom: 5px;
        }

        .single-job-details .media-body {
            margin-left: 34.25px;
            margin-top: -24px
        }

        .single-job-details .media-body h6 {
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0.2px;
            color: #535764;
            margin-bottom: 0px;
        }

        .single-job-details .media-body span {
            font-size: 15px;
            font-weight: 400;
            line-height: 30px;
            letter-spacing: 0.3px;
            color: #97A1B3;
        }
    </style>




</main>


{% endblock %}

