{% extends 'web/partials/base.html' %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'web/benefits.css' %}">

<style>
    @media only screen and (min-width: 765px) and (max-width: 1024px) {
    .site-breadcrumb .breadcrumb-title {
        margin-top: 255px;
    }
    .head{
        margin-top: 200px;
    }
    p.benefits {
        font-size: 15px;
    }
    .mt{
        margin-top: 150px;
    }
    .card{
        margin-top: 50px;
    }
    .card-content {
        font-size: 13px;
    }
    .card-title {
        font-size: 19px;
    }
}
@media only screen and (min-width: 320px) and (max-width: 760px) {
    .site-breadcrumb .breadcrumb-title {
        margin-top: 350px;
    }
    p.benefits {
        font-size: 13px;
    line-height: 2.5rem;
    padding: 0px 32px 0px 32px;
    }
    .card{
        margin-top: 30px;
        height: 428px;
    }
    .card-content {
        font-size: 13px;
    }
    .card-title {
        font-size: 19px;
    }
    .mt{
        margin-top: 200px;
    }
    .head{
        margin-top: 200px;
    }
}
@media only screen and (min-width: 1024px) and (max-width: 1500px) {
    .head{
        margin-top: 160px;
    }
}
</style>


<main class="main">
    <div class="site-breadcrumb head1">
        <div class="container">
            <h2 class="breadcrumb-title brtitle head" style="">Indian Benefits</h2>
            
        </div>
        <p class="benefits">
            Rated amongst the fastest-growing companies, Onflap is built on a strong vision and corporate philosophy
            of continuous adaptation, client service, and professional growth. With one of the lowest attrition
            rates in the industry, onflap’s investment in its team members provides an ideal working environment that
            fosters opportunities to innovate, learn, and excel. Our onflap Family is always growing, and we look
            forward to welcoming new members who are looking to expand their potential and place their careers on a
            path to success.

        </p>
    </div>

    <div class="container">
        <div class="row mt">
            <div class="col-lg-4 col-md-6 d-flex justify-content-center">

                <div class="card height d-flex justify-content-center bluecard" >
                    <h3 class="card-title">
                        Health Insurance
                        for Your Entire Family
                    </h3>
                    <p class="card-content">
                        Taking care of your loved ones is what you work hard for. We recognize that the health of your family is the most important thing on your mind. We offload that burden by providing fully paid health insurance for your entire family.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 d-flex justify-content-center">
                <div class="card height d-flex justify-content-center" >
                    <h3 class="card-title">
                        Loyalty & Gratuity Bonus
                    </h3>
                    <p class="card-content">
                        Gratuity Bonus is a social benefit provided to our team members in compliance with governmental guidelines. To avail this benefit you must complete 5 years withthe company.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 d-flex justify-content-center">
                <div class="card height d-flex justify-content-center bluecard">
                    <h3 class="card-title">
                        Fast-Track Growth – Six-Month Appraisals
                    </h3>
                    <p class="card-content">
                        We have a unique benefit which is unheard of in the industry called “six-month appraisals.” This means that you will get a raise every six months. The raises are pretty good too. Of course, this is performance-based, but even an average person gets a good raise. 
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 d-flex justify-content-center">
                <div class="card height d-flex justify-content-center">
                    <h3 class="card-title">
                        Swift Promotions and Growth
                    </h3>
                    <p class="card-content">
                        For promotions into higher-level positions, it is our belief and policy to promote our own team members rather than hiring from outside. This opens doors for our talented members to grow into higher roles more quickly. Onflap provides opportunities for its members to take both permanent and temporary on-site assignments at any of our Global locations outside India.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 d-flex justify-content-center">
                <div class="card height d-flex justify-content-center bluecard">
                    <h3 class="card-title">
                        Skills Enhancement
                    </h3>
                    <p class="card-content">
                        We strive to provide ample growth opportunities to our team members and actively invest in their success. So, once in a while, if a person is not performing well, we have a separate program called “Prayas” to help address these concerns. We give them time and the opportunity to get back on track.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 d-flex justify-content-center">
                <div class="card height d-flex justify-content-center">
                    <h3 class="card-title">
                        Extended Leaves
                    </h3>
                    <p class="card-content">
                        If one of our team members is undergoing a life-changing event and needs extended time off, We offers them the convenience of long-term leaves. During this period, we guarantees their employment and continues select benefits including health insurance for the member and their family. <br>

                        Extended leaves allow our members to not only handle such events but come back with rejuvenation    and energy.
                    </p>
                </div>
        </div>
    </div>
</main>



{% endblock %}