{% extends 'web/partials/base.html' %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'web/benefits.css' %}">
<style>
    @media only screen and (min-width: 765px) and (max-width: 1024px) {
        .site-breadcrumb .breadcrumb-title {
            margin-top: 255px;
        }

        .head {
            margin-top: 200px;
        }
        .c1{
            margin-top:140px
        }
        p.benefits {
            font-size: 15px;
            padding: 0px 35px 0px 35px;
            text-align: center;
        }

        .sec h6 {
            padding: 54px 14px 10px 10px;
            font-size: 20px;
        }

        .feature-box {
            padding: 0px 33px 0px 31px;
        }

        .feature-info h5 {
            font-size: 15px;
        }

        .h1 {
            margin-top: 125px;
            font-weight: 900;
        }

        .bene {
            color: teal;
            font-size: 15px;
            line-height: 2rem;
            font-family: var(--font-2);
            text-align: center;
            padding: 0px 20px;
        }
        .mt {
    margin-top: 50px;
}
    }

    @media only screen and (min-width: 320px) and (max-width: 760px) {
        .mt {
    margin-top: 14px;
}
        .site-breadcrumb .breadcrumb-title {
            margin-top: 350px;
        }

        p.benefits {
            font-size: 13px;
            line-height: 2.5rem;
            padding: 0px 32px 0px 32px;
        }

        .head {
            margin-top: 200px;
        }

        .sec h6 {
            padding: 58px 14px 10px 10px;
            font-size: 20px;
        }
        .c1{
            margin-top:240px
        }
        .feature-box {
            padding: 0px 33px 0px 31px;
        }

        .feature-info h5 {
            font-size: 15px;
        }

        .h1 {
            margin-top: 227px;
            font-weight: 900;
        }

        .bene {
            color: teal;
            font-size: 15px;
            line-height: 2rem;
            font-family: var(--font-2);
            text-align: center;
            padding: 0px 20px;
        }
    }

    @media only screen and (min-width: 1024px) and (max-width: 1500px) {
        .benefits {
            padding: 0px 125px;
        }

        .head {
            margin-top: 160px;
        }

        .sec h6 {
            padding: 54px 14px 10px 10px;
            font-size: 32px;
        }
        .c1{
            margin-top:140px
        }
        .feature-box {
                padding: 0px 50px 0px 50px;
                margin: 0px 30px;
        }

        .feature-info h5 {
            font-size: 15px;
        }

        .h1 {
            font-size: 20px !important;
            margin-top: 90px;
            font-weight: 900;
        }

        .bene {
            color: teal;
            font-size: 17px;
            line-height: 3rem;
            font-family: var(--font-2);
            text-align: center;
            padding: 0px 20px;
        }
    }
    .grid-4 {
    grid-gap: 0.2rem;
}
    /* .bene{
    color: teal;
    font-size: 22px;
    line-height: 3rem;
    font-family: var(--font-2);
    text-align: center;
    } */
</style>

<main class="main">
    <div class="site-breadcrumb head1">
        <div class="container">
            <h2 class="breadcrumb-title brtitle head" style="">Kuwait Benefits</h2>

        </div>
        <p class="benefits">
            Rated amongst the fastest-growing companies, Onflap is built on a strong vision and corporate philosophy
            of continuous adaptation, client service, and professional growth. With one of the lowest attrition
            rates in the industry, onflap’s investment in its team members provides an ideal working environment that
            fosters opportunities to innovate, learn, and excel. Our onflap Family is always growing, and we look
            forward to welcoming new members who are looking to expand their potential and place their careers on a
            path to success.

        </p>
    </div>

    


    <div class="container">
        <div class="row">
            <h6 class="text-center h1">Meaningful Work, Good People, Unparalleled Rewards</h6>
        </div>
        <div class="row">
            <p class="bene">
                We foster an atmosphere of mutual respect and take pride in our culturally diverse team of capable
                professionals by celebrating a multitude of backgrounds and cultures.
            </p>
        </div>
    </div>

    <div class="container">
        <div class="row mt">
            <div class="col-lg-4 col-md-6 d-flex justify-content-center">

                <div class="card height d-flex justify-content-center bluecard">
                    <h3 class="card-title">
                        Loyalty Bonus & Swift, Growth Opportunities
                    </h3>
                    <p class="card-content">
                        We believe that dedication and hard work paves the path to success. In recognition of your contribution to Onflap's success, you'll receive a one-time bonus following your annual employee performance review. We also offer plenty of opportunities for career advancement along with this bonus.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 d-flex justify-content-center">
                <div class="card height d-flex justify-content-center">
                    <h3 class="card-title">
                        Paid Vacation, Floating Days & PTO
                    </h3>
                    <p class="card-content">
                        We pride ourselves on working hard, as well as playing hard and we believe that taking time off from the workplace is important for every employee. In order to facilitate this, we offer paid vacations, floating holiday pay, and paid time off (PTO) benefits to reduce stress and raise the productivity of work.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 d-flex justify-content-center">
                <div class="card height d-flex justify-content-center bluecard">
                    <h3 class="card-title">
                        State-of-the-Art Facilities
                    </h3>
                    <p class="card-content">
                        Onflap’s state-of-the-art facilities offer cutting-edge technology and amenities, as well as a pleasant work environment that facilitates efficient productivity. For employee safety and to prevent the spread of COVID-19, all of our locations comply with COVID-19 and other health safety standards.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 d-flex justify-content-center">
                <div class="card height d-flex justify-content-center">
                    <h3 class="card-title">
                        Swift Promotions and Growth
                    </h3>
                    <p class="card-content">
                        Our policy is to promote our own team members rather than hire from outside for higher-level positions. Our talented members are thus able to advance more quickly into higher roles. Members of Onflap can take both permanent and temporary on-site assignments abroad at any of our global locations.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 d-flex justify-content-center">
                <div class="card height d-flex justify-content-center bluecard">
                    <h3 class="card-title">
                        Travel Reimbursement

                    </h3>
                    <p class="card-content">
                        As part of Onflap’sreimbursement program, the company reimburses employees who travel for any expenses they incur, including meals, lodging, car mileage, and flight costs. We always strive to deliver the best working experience and allowances to our employees for their best experience in the profession.
                    </p>
                </div>
            </div>

        </div>
    </div>


</main>


{% endblock %}