    <!-- Start Faq
============================================= -->
<div class="faq-area de-padding">
    <div class="faq-wpr grid-2">
        <div class="faq-left faq-padding-left">
            <div class="site-title">
                <span class="about-sub-title">Questions & Answer</span>
                <h2 data-splitting class="about-title mb-0 wow" data-wow-duration=".1s" data-wow-delay=".6s">
                    Need anything to ask check
                    <br />
                    Asked Question
                </h2>
            </div>
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            1. Think ahead & boost your business?
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p class="mb-0">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                eiusitempor is exercitation ullamco laboris.Lorem ipsum dolor sit amet,
                                consectetur adipisicing elit.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            2. How our experts consulter work?
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p class="mb-0">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                eiusitempor is exercitation ullamco laboris.Lorem ipsum dolor sit amet,
                                consectetur adipisicing elit.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            3. What is the best tips for growth your business?
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p class="mb-0">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                eiusitempor is exercitation ullamco laboris.Lorem ipsum dolor sit amet,
                                consectetur adipisicing elit.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading4">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                            4. How to improved your business?
                        </button>
                    </h2>
                    <div id="collapse4" class="accordion-collapse collapse" aria-labelledby="heading4"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p class="mb-0">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                eiusitempor is exercitation ullamco laboris.Lorem ipsum dolor sit amet,
                                consectetur adipisicing elit.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading5">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapse4">
                            5. How to improved your business?
                        </button>
                    </h2>
                    <div id="collapse5" class="accordion-collapse collapse" aria-labelledby="heading5"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p class="mb-0">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                eiusitempor is exercitation ullamco laboris.Lorem ipsum dolor sit amet,
                                consectetur adipisicing elit.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="faq-right">
            <div class="faq-pic wow fadeInRight" data-wow-duration="1s" data-wow-delay=".4s">
                <img src="{% static 'web/img/faq/fag-bg.png' %}" alt="thumb">
            </div>
        </div>
    </div>
</div>
<!-- End Faq -->